<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("partials/head.ejs") %> 
</head>
<body>
    <%- include("partials/header.ejs") %>
        <form action="/save-post" method="post">
            <input type="text" class="tituloForm" name="titulo" placeholder="Insira o titulo do registro.">
            <textarea name="texto" placeholder="Insira o texto do registro." class="textoForm" cols="50" rows="10"></textarea>
            <input type="date" class="dataForm" name="date">
            <button type="submit">Registrar</button>
            <div>
                <% if(post_register_status) { %>
                    <p>Registro Adicionado</p>
                <% } %>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="/js/main.js"></script>
</body>
</html>