@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
/*Header*/
header{
    margin-top: 40px;
}
a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #826C7F;
    margin: 0 5px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

/*Main*/
body{
    background-color: #A88FAC;
}
.container{
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.posts{
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4B2D8;
    border-radius: 20px;
    margin: 0 0 20px 0;
}
@media screen and (max-width: 560px) {
    .posts{
        align-self: center;
        background-color: #D4B2D8;
    }
}
.post-content{
    padding: 0 20px;
}
.titulo{
    color: #151515;
    display: block;
    font-family: 'Oswald', sans-serif;
    max-width: 50vw;
}
.texto{
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    max-width: 50vw;
}
.data{
    font-family: 'Oswald', sans-serif;
}

/*Formulário*/
form{
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloForm{
    background-image: url("../Assets/imgs/add-note.svg");
    background-position: 0;
    background-size: 40px;
    background-repeat: no-repeat;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-indent: 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    color: #000;
}
.textoForm{
    border-radius: 10px;
    border: none;
    margin: 20px 0 0 0;
    width: 40%;
    text-indent: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    color: #000;
}
.dataForm{
    margin: 20px 0 0 0;
    width: 15%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: #000;
}
button{
    margin: 20px 0 0 0;
    color: #fff;
    padding: 10px 20px;
    background-color: #826C7F;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border: none;
}